<nav class="navbar navbar-default" role="navigation">
  
  <div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right navbar-social-links hidden">
        <li><a href="#">
          <span class="fa-stack ">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
          <a class="navbar-brand" href="#"> <span class="logo" style="display: inline-block;">Cas<strong>ca</strong>de <i class="fa fa-bookmark"></i></span></a>
      </ul>
      <ul class="nav navbar-nav navbar-right " style="display: inline-block;">
      <% if current_user.try(:admin?) %>
        <li><%= link_to 'Admin', admin_blogs_path %></li>
      <% end %>
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="about-us.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="services.html">Portfolio</a></li>
        <li><%= link_to 'Blog', blogs_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Do you want to log out?' }, class: 'btn btn-danger' %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-info' %></li>
          <li><%= link_to 'Login', new_user_session_path, class: 'btn btn-success' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
